#map {
    position: absolute;
    left: 40%;
    top: 5%;
    z-index: 0;
    display: block;
    overflow: hidden;
  }
  
  #map_camera {
    user-select: none;
    position: relative;
    left: 0%;
    top: 0%;
    width: 20vw;
    padding: 0;
    display: block;
    transition: all 0.3s ease;
  }
  .collapse_menu {
    user-select: none;
    position: absolute;
    top: 2vh;
    left: 0vw;
    width: 20vw;
  }
  
  #collapsible {
    position: fixed;
    height: 10vh;
    left: 90vw;
    top: 10vh;
    transition: transform 2s ease-in-out;
    cursor: pointer;
    border-radius: 15%;
    z-index: 100;
  }
  
  #icon {
    padding-left: 1.5vw;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  #loading {
    position: fixed;
    width: 10vw;
    height: auto;
    left: 40vw;
    top: 60vh;
    z-index: 0;
    transition: transform 15s ease-in-out;
  }
  
  #start {
    position: fixed;
    width: 8vw;
    height: auto;
    left: 88vw;
    top: 80vh;
    transition: transform 2s ease-in-out;
    cursor: pointer;
    display: inline;
  }
  
  
  #stop {
    position: fixed;
    width: 8vw;
    height: auto;
    left: 88vw;
    top: 80vh;
    transition: transform 5s ease-in-out;
    cursor: pointer;
    display: none;
  }
  
  #download:hover,
  #stop:hover,
  #start:hover {
    opacity: 0.7;
  }
  