.Simulation {
  user-select: none;
  position: absolute;
  left: 5%;
  top: 10%;
  width: 30vw;
  height:80vh;
  margin: 0 auto;
  overflow: hidden;
}
li::marker {
  color: transparent; /* 或使用其他方法来隐藏或修改它 */
}
.condition {
  user-select: none;
  position: flex;
  left: 0%;
  top:0%;
  width: 100%;
  height: 100%;
  background-color: rgb(144, 144, 144);
  border-radius: 10%;
}

.RoadTop {
  user-select: none;
  position: absolute;
  left: 15%;
  width: 3%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.RoadBottom {
  user-select: none;
  position: absolute;
  left: 85%;
  width: 3%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}



.RoadMiddlewall {
  user-select: none;
  width: 4%;
  height: 96%;
  overflow: hidden;
  position: absolute;
  left: 42%;
}

.RoadMiddle {
  position: flex;
  user-select: none;
  width: 100%;
  height: 15%;
}

.white {
  background-color: rgb(255, 255, 255);
}

.black {
  background-color: rgb(144, 144, 144);
}

@keyframes front1 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes front2 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes back1 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes back2 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-200%);
  }
}

.car {
  user-select: none;
  position: absolute;
  left: 0%;
  top: 11%;
  width: 100%;
  height: 80%;
  user-select: none;
  transform: rotate(90deg);
}
.tireLeft {
  user-select: none;
  position: absolute;
  left: 28.5%;
  top: 35%;
  width: 12%;
  height: 2.5%;
  transform: rotate(90deg);
}

.tireRight {
  user-select: none;
  position: absolute;
  left: 63.2%;
  top: 35%;
  width: 12%;
  height: 2.5%;
  transform: rotate(90deg);
}

.quartercircleLeftTop {
  user-select: none;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 20%;
  top: 10%;
  background-color: #b7545400;
  animation: fade 0.5s ease-in-out infinite alternate;
  border-radius: 100% 0 0 0;
}

.quartercircleLeftTop-2 {
  position: absolute;
  user-select: none;
  width: 80px;
  height: 80px;
  left: 20px;
  top: 20px;
  background-color: rgb(144, 144, 144);

  border-radius: 100% 0 0 0;
}

.quartercircleRightTop {
  user-select: none;

  position: absolute;
  width: 100px;
  height: 100px;
  left: 68%;
  top: 10%;
  background-color: #b7545400;
  animation: fade 0.5s ease-in-out infinite alternate;
  border-radius: 0 100% 0 0;
}

.quartercircleRightTop-2 {
  user-select: none;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 20px;
  background-color: rgb(144, 144, 144);

  border-radius: 0 100% 0 0;
}

.quartercircleLeftBottom {
  user-select: none;

  position: absolute;
  width: 100px;

  height: 100px;
  left: 20%;
  top: 80%;
  background-color: #b7545400;
  animation: fade 0.5s ease-in-out infinite alternate;
  border-radius: 0 0 0 100%;
}

.quartercircleLeftBottom-2 {
  user-select: none;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 20px;
  top: 0px;
  background-color: rgb(144, 144, 144);
  border-radius: 0 0 0 100%;
}

.quartercircleRightBottom {
  user-select: none;

  position: absolute;
  width: 100px;

  height: 100px;
  left: 68%;
  top: 80%;
  background-color: #b7545400;
  animation: fade 0.5s ease-in-out infinite alternate;
  border-radius: 0 0 100% 0;
}

.quartercircleRightBottom-2 {
  user-select: none;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: rgb(144, 144, 144);

  border-radius: 0 0 100% 0;
}

.quartercircleBottom {
  user-select: none;

  position: absolute;
  height: 20%;
  width: 20%;
  left: 41%;
  top: 85%;
  transform: rotate(-5deg);
  animation: fade 0.5s ease-in-out infinite alternate;
}

.quartercircleTop {
  user-select: none;

  position: absolute;
  height: 20%;
  width: 20%;
  left: 41%;
  top: -3%;
  transform: rotate(-5deg);
  animation: fade 0.5s ease-in-out infinite alternate;
}

.turn {
  user-select: none;
  visibility: visible;
}

.collision1 {
  user-select: none;
  background-color: #ff4646ed;
  animation: fade 0.5s ease-in-out infinite alternate;
}

.collision2 {
  user-select: none;
  stroke: #ff4646ed;
  animation: fade 0.5s ease-in-out infinite alternate;
}

.warning {
  user-select: none;
  stroke: #f6ff4ced;
  animation: fade 0.5s ease-in-out infinite alternate;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }
  20%,
  80% {
    transform: translate3d(0, +2px, 0);
  }
  30%,
  70% {
    transform: translate3d(0, -4px, 0);
  }
  40%,
  60% {
    transform: translate3d(0, +4px, 0);
  }
  50% {
    transform: translate3d(0, -4px, 0);
  }
}

.simulation-head {
  user-select: none;
  font-family: "Oswald", "RobotoDraft", "Microsoft JhengHei", sans-serif;
  position: absolute;
  left: 16%;
  top: 2%;
  font-size: 160px;
  font-weight: bolder;
  letter-spacing: 15px;
  color: rgba(27, 28, 23, 0.7);
}

.camara {
  user-select: none;
  position: absolute;
  left: 10%;
  top: 30%;
  height: 50%;
  width: 35.5%;
  border: 15px double rgb(255, 255, 255);
  border-radius: 10%;
  overflow: hidden;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.camera_image {
  height: 100%;
  width: 100%;
}

.camera_button {
  position: absolute;
  left: 42%;
  top: 15%;
  font-size: 85px;
  color: azure;
}

.graph {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(rgb(74, 74, 94), rgb(156, 180, 219));
  opacity: 1;
}
