@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

#title {
  position: fixed;
  left: 7vw;
  top: 12vh;
  font-family: "Rajdhani", sans-serif;
  font-size: 6vh;
  font-weight: 900;
  -webkit-text-stroke: 1px #ffffff; /* outline thickness | outline color */
  color: transparent; /* make the inside of the text transparent */
}

#content {
  position: fixed;
  left: 20vw;
  height: 80vh;
}

#car {
  position: fixed;
  top: 35vh;
  left: 70vw;
  width: 50vh;
}

#dot {
  position: fixed;
  top: 35vh;
  left: 70vw;
  width: 50vh;
  rotate: 0deg;
}

.image-grid {
  display: grid;
  position: fixed;
  grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
  left: 8vw;
  top: 25vh;
  height: auto; /* Adjust height to account for top margin */
  width: 90%;
}

.image-grid img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 5%;
}



#cam_status {
  position: fixed;
  top: 10vh;
  left: 25vw;
  width: 10vh;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

#cam_status:hover {
  transform: scale(1.1);
}


.image-slider {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  top:0vh
}
.image-slider .slider {
  position: fixed;
  width: 100%;

}

.slider-item {
  width: 20vw;
  padding: 20px 0 25px 30px;
  border-radius: 10%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  opacity: 0;
  z-index: 0;

  position: absolute;
  left: 0;
  top: 0;
}
.slider-item .animation-card_image {

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.slider-item .animation-card_image img {
  width: 20vw;

  border-radius: 10%;
  object-fit: cover;
}
