<launch>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    
    <node name="collector" pkg="bridge" type="collector" output="screen">
    <param name="publish_rate" value="7" />
    </node>

    <node name="vector_subscriber" pkg="bridge" type="transform.py" output="screen">
    <param name="publish_rate" value="2" />
    </node>

</launch>
